.App {
  width: 100vw;
  height: 100vh;
}

.backgroundImage {
  background-image: url('./background-1000.png');
  background-repeat: no-repeat;
  width: 85%;
  height: 85%;
  margin: auto;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #163D56;
}

h2 {
  font-size: 34px;
  color: #1A4967;
  text-align: center;
}

.activity {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  position: relative;
  top: 30%;
  left: 13%;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  background: #93BFB2;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  animation-name: shine;
  animation-duration: 360ms;
}

@keyframes shine {
  0% {
    background: linear-gradient(
      30deg, 
      white 0%, 
      #93BFB2 25%
    );
  }

  25% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 25%, 
      #93BFB250 75%
      );
  }

  50% {
    background: linear-gradient(
      30deg,
      #93BFB2 0%, 
      white 50%, 
      #93BFB2 75%
      ); 
  }

  75% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 75%, 
      #93BFB2 100%
      ); 
  }

  100% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 100%
      ); 
  }
}