.App {
  width: 100vw;
  height: 100vh;
}

h1 {
  color: #2a6387;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  width: 70%;
}

.activity {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 10px;
  min-width: 40%;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h2 {
  font-size: 34px;
  color: #1A4967;
  text-align: center;
}

button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  background: #93BFB2;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  animation-name: shine;
  animation-duration: 360ms;
}

@keyframes shine {
  0% {
    background: linear-gradient(
      30deg, 
      white 0%, 
      #93BFB2 25%
    );
  }

  25% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 25%, 
      #93BFB250 75%
      );
  }

  50% {
    background: linear-gradient(
      30deg,
      #93BFB2 0%, 
      white 50%, 
      #93BFB2 75%
      ); 
  }

  75% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 75%, 
      #93BFB2 100%
      ); 
  }

  100% {
    background: linear-gradient(
      30deg, 
      #93BFB2 0%, 
      white 100%
      ); 
  }
}